.idea/
**/__pycache__/
poznamky
/Data/*
!/Data/Experiments
!/Data/optuna
!Data/grid_search
!Data/generation_ex
!Data/decay_search


/Data/Experiments/.ipynb_checkpoints
/Docs/papers
/.metals
.vscode
*.aux
*.toc
*.synctex.gz
*.xmpi
Docs/**/*.log
Docs/**/*.out
Docs/**/*.blg